<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.graduation.dao.OrderdetailMapper">


    <insert id="addOrderDetail">
        insert
        into orderDetail
        (detail_id,store_id,order_id,food_id,user_id,price,count,date_day)
        values
        (#{orderDetail.detailId},#{orderDetail.storeId},#{orderDetail.orderId},#{orderDetail.foodId},#{orderDetail.userId},#{orderDetail.price},#{orderDetail.count},#{orderDetail.dateDay});
    </insert>
</mapper>